{
  "$schema": "https://json.schemastore.org/swcrc",

  "exclude": [".*\\.(test|spec).[tj]s$", ".*\\/(tests|__mocks__)\\/.*"],

  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    },
    "minify": {
      "mangle": true,
      "compress": {
        "ecma": "2022",
        "module": true
      }
    }
  }
}
